body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    text-decoration: underline;
    padding: 10px;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
    padding: 10px;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #828282;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #313538;
    text-decoration: none;
  }

  footer {
      padding-top: 15px;
      font-size: 0.7rem;
      color: #828282;
  }